<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>78193770395-psho1k2nlbjjs8r5b21ng6877pbrpr75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78193770395-psho1k2nlbjjs8r5b21ng6877pbrpr75</string>
	<key>API_KEY</key>
	<string>AIzaSyD1O4g7ETFWF8rxfVRf_Y4-qB4oCl3QMZI</string>
	<key>GCM_SENDER_ID</key>
	<string>78193770395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.george.AustinInstitutions</string>
	<key>PROJECT_ID</key>
	<string>austininstitutions</string>
	<key>STORAGE_BUCKET</key>
	<string>austininstitutions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78193770395:ios:35439c3c75c2e435</string>
	<key>DATABASE_URL</key>
	<string>https://austininstitutions.firebaseio.com</string>
</dict>
</plist>